[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
shapely = {extras = ["vectorized"],version = "*"}
ipython = "*"
networkx = "*"

[dev-packages]

[requires]
python_version = "3.7"
